<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

    <div class="bg-img">
        <ul>
            <li>
                <form action="/goToIndexPage">
                    <button class="button fa fa-home" style="font-size: 33px; margin: 0px; padding-right: 50px; padding-left:50px "></button>
                </form>
            </li>

            <li class="dropdown">

                <a href="javascript:void(0)" class="dropbtn">Products available</a>
                <div class="dropdown-content size3">
                    <center>
                        <form action="/goToLoginPage">
                            <button class="button">Search by category</button>
                        </form>
                        <form action="/goToLoginPage">
                            <button class="button">Search by name</button>
                        </form>
                    </center>
                </div>
            </li>

            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Creating a purchase</a>
                <div class="dropdown-content size3">
                    <center>
                        <form action="/goToLoginPage">
                            <button class="button">Creating a purchase</button>
                        </form>
                    </center>
                </div>
            </li>

            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">User basket</a>
                <div class="dropdown-content size3">
                    <center>
                        <form action="/goToLoginPage">
                            <button class="button">User basket</button>
                        </form>
                    </center>
                </div>
            </li>

            <li class="dropdown" style="float:right">
                <a href="javascript:void(0)" class="dropbtn">Sing up/in</a>
                <div class="dropdown-content size3">
                    <center>
                        <form action="/goToRegisterPage">
                            <button class="button">Sign up</button>
                        </form>
                        <form action="/goToLoginPage" method="get">
                            <button class="button">Sign in</button>
                        </form>
                    </center>
                </div>
            </li>

        </ul>

        <br>

        <p class="pos post "><b>Our motto: " Buy from us and be happy. "</b></p>

    </div>


    <br>

    <div class="mqs ">
        <div class="m2 m a pad_img">
            <img src="../static/img/manage.jpg" width="750" height="420">
        </div>

        <div class="m1">


            <center><b>What you will find in our store?</b></center>
            <hr style="color:black; background-color:black; height:1px;">
            In our store, you can find goods of<br>
            all kinds. We have food and drinks<br>
            of guaranteed quality. Sanitary fittings<br>
            of various types and brands. Makeup<br>
            and accessories at affordable prices.<br>
            We also offer a variety of decorations<br>
            for your home. For more information about<br>
            a product, you can always contact us.
            <hr style="color:black; background-color:black; height:1px;">
        </div>
    </div>

    <br>

    <div class="m a">
        <img src="../static/img/manage4.jpg" width="750" height="420" style="float:bottom">
    </div>

    <br>

    <div class="m2">
        <center><b>What is Our purpose?</b></center>
        <hr style="color:black; background-color:black; height:1px;">
        Our goal is to provide an easy and affordable<br>
        online shopping site. On this site, there should<br>
        be products of every need, and people should <br>
        be able to shop easily and comfortably on it.<br>
        We try, if necessary, to always be there. We hope<br>
        you are satisfied with us, if you have any <br>
        questions we are always here for you.

        <hr style="color:black; background-color:black; height:1px;">
    </div>

    <div class="m3 m a">
        <img src="../static/img/manage3.jpg" width="650" height="420" style="float:bottom">    </div>

    <div class="m4">
        <center><b>What you can do in our online store?</b></center>
        <hr style="color:black; background-color:black; height:1px;">
        In our online store, you can easily and <br>
        conveniently shop and order the products<br>
        you need. We have tried to make deliveries <br>
        as fast as possible and with as many courier<br>
        companies as possible. Each user has a<br>
        shopping basket from which to regulate <br>
        their purchases. If you have any questions,<br>
        don't hesitate to contact us.

        <hr style="color:black; background-color:black; height:1px;">
    </div>


    </body>
    </html>
</DOCTYPE>